<img
    class="login-logo"
    ng-if="LOGO_URL"
    ng-src="{{ LOGO_URL }}">
<div class="login-form">
  <form>
    <div class="login-input username">
      <label>Username</label>
      <input
          tabindex="0"
          type="text"
          class="form-control"
          ng-model="username"
          autofocus
          required>
      <div
          class="alert alert-danger required-label"
          ng-class="submitted">
        Required
      </div>
    </div>
    <div class="login-input password">
      <label>Password</label>
      <input
          type="password"
          class="form-control"
          ng-model="password"
          required>
      <div
          class="alert alert-danger required-label"
          ng-class="submitted">
        Required
      </div>
    </div>
    <alertbar></alertbar>
    <button
        class="btn add-btn btn-success"
        type="submit"
        ng-click="submitLogin()">
      <span>Sign in</span>
    </button>
  </form>
  <a
      class="contact"
      href="mailto:webtech@theonion.com">
    <i class="fa fa-paper-plane"></i>
    <div class="contact-tech">Contact Tech</div>
  </a>
</div>
