@import 'colors';
@import 'mixins';

cms-token-auth-login-form {
  display: block;

  img.login-logo {
    display: block;
    margin: auto;
    max-width: 20%;
  }

  .login-container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-color: $white;
    color: $login-gray;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    .login-header {
      background-color: $white;
      box-shadow: 1px 0 1px;
      height: 70px;
      padding-top: 8px;
      text-align: center;

      img {
        @include center-block;

        max-width: 20%;
      }
    }
  }

  form {
    @include center-block;

    background: $lt-gray;
    margin-top: 75px;
    padding: 3rem;
    width: 400px;

    button,
    input {
      border-radius: 0;
      margin-top: 4px;
      width: 100%;
    }

    button {
      @include button-color('background-color', save);

      border: none;
      height: 40px;
    }

    .contact {
      @include center-block;

      color: $login-gray;
      cursor: pointer;
      padding: 15px 0 0 0;
      text-decoration: none;
      width: 115px;

      .contact-tech {
        display: inline-block;
        line-height: 19px;
        margin-left: 7px;
      }
    }
  }
}
