<ng-transclude></ng-transclude>
<div class="cms-table-table">
  <div class="cms-table-row cms-table-header">
    <div
        ng-repeat="column in columns"
        class="cms-table-cell cms-table-cell-size-{{ column.size }}"
        type="{{ column.type }}">
      <a ng-click="$parent.$parent.orderTable(column.sort)">
        <span>{{ column.title }}</span>
        <i
            class="fa"
            ng-class="{
              'fa-chevron-down': $parent.$parent.listOrdering === '-' + column.sort,
              'fa-chevron-up': $parent.$parent.listOrdering === column.sort
            }">
        </i>
      </a>
    </div>
  </div>

  <div
      class="cms-table-row"
      dir-paginate="item in collection | itemsPerPage: 20"
      total-items="{{ collection.$totalCount }}"
      current-page="$parent.$parent.listPage">
    <div
        ng-repeat="column in columns"
        cms-table-cell
        class="cms-table-cell cms-table-cell-size-{{ column.size }}"
        item="item"
        column="column">
    </div>
  </div>

  <div class="cms-table-blank-slate" ng-show="collection.$status == 'pending'">
    <p> Loading items from server... </p>
  </div>

  <div class="cms-table-blank-slate" ng-hide="collection.length">
    <p> No items to show in this list. </p>
  </div>
</div>

<div class="cms-table-pagination">
  <dir-pagination-controls on-page-change="$parent.$parent.paginate(newPageNumber)"></dir-pagination-controls>
</div>
