<ng-transclude></ng-transclude>
<div class="cms-table-table">
  <div class="cms-table-row cms-table-header">
    <div class="cms-table-cell" ng-repeat="column in columns"
         type="{{column.attributes.type.value}}">
      <a ng-click="$parent.$parent.orderTable(column.attributes.sort.value)">
        {{column.attributes.title.value}}
        <i class="fa"
           ng-class="{'fa-chevron-down': $parent.$parent.listOrdering === '-'+column.attributes.sort.value, 'fa-chevron-up': $parent.$parent.listOrdering === column.attributes.sort.value}"></i>
      </a>
    </div>
  </div>

  <div class="cms-table-row"
       dir-paginate="item in collection | itemsPerPage: 20"
       total-items="{{collection.$totalCount}}"
       current-page="$parent.$parent.listPage">
    <div class="cms-table-cell" cms-table-cell item="item" column="column" ng-repeat="column in columns"
         type="{{column.attributes.type.value}}">
    </div>
  </div>

  <div class="cms-table-blank-slate" ng-show="collection.$status == 'pending'">
    <p> Loading items from server... </p>
  </div>

  <div class="cms-table-blank-slate" ng-hide="collection.length">
    <p> No items to show in this list. </p>
  </div>
</div>

<div class="cms-table-pagination">
  <dir-pagination-controls on-page-change="$parent.$parent.paginate(newPageNumber)"></dir-pagination-controls>
</div>
