@import 'sass-toolkit/utils/flexbox';
//@import 'base';
@import 'typography';
@import 'directive';

cms-table {
  width: 100%;
  display: block;

  .cms-table-blank-slate {
    padding:1em;
  }
  [cms-table-cell] {
    white-space: nowrap;
  }

  .cms-table-table {
    background: $white;
  }

  .cms-table-row {
    @include flexbox;
    @include justify-content(space-between);
    background-color: $color-base-grey;

    &.cms-table-header .cms-table-cell {
      @include text-bold;
      background-color: $blue-grey;
      padding: 0.5 0.8;
      color: $white;
      font-weight: bold;

      a { color: inherit; }
    }

    &:nth-child(odd) {
      background-color: white;
    }
  }

  .cms-table-cell {
    @include flex-grow(1);
    width: 0px;
    text-overflow: ellipsis;
    whitespace: nowrap;
    overflow: hidden;
    padding: 1.4em;
    font-size:.9em;

    &[type=text] {
      @include flex-grow(3);
    }
  }
}
