@import 'cms-components/styles/directive';

user-profile {
  @include flexbox;
  @include flex-direction;
  @include align-items(center);
  @include circle(2.5em);
  display: block;
  position: relative;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;

  & > span {
    @include circle(2.5em);
    display: block;
  }
}
