@import 'sass-toolkit/utils/flexbox';
@import 'cms-components/styles/colors';

user-menu {
  // make visible, but keep disabled
  &, & * {
    opacity: 1 !important;
  }
  .user-menu-toggle {
    @include flexbox;
    @include align-items(center);
    border: none;
    background: transparent;
    outline:0;
  }

  .user-menu-icon {
    margin-left: 0.25em;
    color:#C7C7C7;
    font-size: 1.8em;
  }

  .user-menu-dropdown-menu {
    right: 0;
    left: initial;
  }
}
