<header class='cms-layout-topbar'>
  <list-nav></list-nav>
  <user-menu></user-menu>
</header>

<section class='cms-layout-sidebar' ui-sref-active="active">
  <sidebar-panel ng-if="currentUser" class="sidebar-panel-new-content sidebar-panel-center">
    <cms-flyout direction="right">
      <cms-button cms-flyout-trigger glyph="plus">Add New</cms-button>
      <cms-flyout-panel>
        <a ui-sref="content.videos.new">Add Video</a>
        <a ui-sref="content.series.new">Add Series</a>
        <a ui-sref="content.channels.new">Add Network</a>
        <a ui-sref="content.sponsors.new">Add Sponsor</a>
      </cms-flyout-panel>
    </cms-flyout>
  </sidebar-panel>
  <sidebar-panel class="sidebar-panel-content" ui-sref-active-if="content">
    <sidebar-panel-header>
      <i class="fa fa-th-list"></i> Content
    </sidebar-panel-header>
    <sidebar-nav>
      <sidebar-nav-item ui-sref-active="active" sref="content.videos">Videos</sidebar-nav-item>
      <sidebar-nav-item ui-sref-active="active" sref="content.series">Series</sidebar-nav-item>
      <sidebar-nav-item ui-sref-active="active" sref="content.channels">Networks</sidebar-nav-item>
      <sidebar-nav-item ui-sref-active="active" sref="content.sponsors">Sponsors</sidebar-nav-item>
    </sidebar-nav>
  </sidebar-panel>
  <sidebar-panel ng-if="false" ui-sref-active-if="promotion">
    <sidebar-panel-header>
      <i class="fa fa-bookmark"></i> Promotion
    </sidebar-panel-header>
    <sidebar-nav>
      <sidebar-nav-item ui-sref-active="active" sref="promotion.promoSeries">Series</sidebar-nav-item>
      <sidebar-nav-item ui-sref-active="active" sref="promotion.promoVideos">Videos</sidebar-nav-item>
    </sidebar-nav>
  </sidebar-panel>
  <sidebar-panel class="sidebar-panel-center">
    <cms-button bug-reporter type="subtle" glyph="bug" glyphsize="2x">
      <span>Report a Bug</span>
    </cms-button>
  </sidebar-panel>
</section>

<section ui-view="cmsLayoutViewport" class='cms-layout-viewport'>
</section>
