@import "sass-toolkit/utils/flexbox";
@import 'base';

cms-layout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  $topbar-height: 50px;
  $sidebar-width: 160px;

  .cms-layout-topbar {
    height: $topbar-height;
    position: fixed;
    top: 0;
    left: $sidebar-width;
    right: 0;
    background: white;
    z-index: 2;
    @include flexbox;
    @include align-items(center);
    border-bottom: 1px solid $lt-gray;
    padding: 5px 0;

    & > user-menu {
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  .cms-layout-sidebar {
    background: $lt-gray;
    width: $sidebar-width;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0;
    top: 0;
    left: 0;

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: $sidebar-width;
      width: 22px;
      height: 100%;
    }

    cms-flyout {
      z-index: 1;
    }
  }

  .cms-layout-viewport {
    position: fixed;
    left: $sidebar-width;
    top: $topbar-height;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    z-index: 0; 
  }

  sidebar-panel {

    &.sidebar-panel-center {
      @include flexbox;
      @include flex-direction(column);
      @include align-items(center);
      padding: 1.5em 0;
      & > * {
        @include align-self(center);
      }
    }
    &.active sidebar-panel-header {
      font-weight: bold;
    }
  }

  sidebar-panel-header {
    padding: 0.5em 1em;
    font-size: 1.1em;
    line-height: 2.9em;

    & > i {
      margin-right: 0.5em;
    }
  }

  sidebar-nav {
    @include flexbox;
    @include flex-direction(column);
  }

  ng-form {
    cms-row {
      & > ng-transclude > * {
        @include justify-content(space-between);
        @include flex-grow(1);
        width: 0px;
        outline:0;
      }
    }
  }

  .edit-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow-y: scroll;
  }
}
