@import 'sass-toolkit/utils/flexbox';
@import 'cms-components/styles/colors';
@import 'cms-components/styles/mixins';

$glyph-margin: 0.4em;

@mixin button-core {
  border: none;  
  border-radius: 5px;
  color: white;
  padding: 0.6em 1.5em;
  font-size: 14px;
  outline:0;
  @include flexbox;
  @include flex-direction(center);

  & > * {
    @include align-self(center);
  }
  & > i {
    margin-right: $glyph-margin;
  }

  [glyphpos="after"] & > i {
    @include order(1);
    margin-right: 0;
    margin-left: $glyph-margin;
  }
}

cms-button {

  > button.friendly-action {
    @include button-core;
    @include button-color ('background-color', create-new);
    font-weight: normal;
  }

  > button.muted-action {
    @include button-core;
    @include button-color ('background-color', accent-grey-medium);
    color: $most-shaded;
    font-weight: bold;
    font-size: 12px;
  }

  > button.subtle-action {
    @include button-core;
    @include button-color ('background-color', notifications);
    color: $white;
    font-weight: bold;
    font-size: 12px;
  }

  > button.blended-action {
    @include button-core;
    @include button-color ('background-color', base);
    background-color: transparent;
  }

  > button.destructive-action {
    @include button-core;
    @include button-color ('background-color', accent-orange);
    color: #b21313;
  }

  > button.reset-action {
    @include button-core;
    background-color: white;
    padding:.6em 1em;
    font-size:12px;
    color: $button-blue;
    border: 1px solid $button-blue;
  }

  &[disabled] > button {
    opacity: 0.5;
    cursor: no-drop;
  }
}

.dropdown-menu cms-button > button {
  border-radius: 0;
  width: 100%;
}
