@import 'directive';

betty-editable {
  display: inline-block;

  .image-edit-container {
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 250px;
    padding: 10px;
    position: relative;

    img {
      max-width: 100%;
      min-height: 250px;
    }
    &:hover .image-edit-overlay {
      display: block;
    }
    & + div {
      margin-top: 10px;
    }

    .edit {
      bottom: auto;
      top: 10px;
    }
    .remove {
      bottom: auto;
      top: 10px;
    }
    .caption-alt {
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 101%;
    }
  }
}

.image-edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;

}

.buttonStyles {
  border: 1px transparent solid;
  color: #4a4a4a;
  background-clip: padding-box;
  background-color: transparent;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  line-height: 25px;
  cursor: pointer;
  border-radius: 3px;
  width: auto;
  display: block;
  font-size: 14px;
  width: 100%;
  text-align: left;
  padding: 4px 8px;
  height: auto;
}

.image-edit-overlay {
  position: absolute;
  display: none;
  background-color: rgba(200,200,200,.5);
  z-index: 100;

  button {
    @extend .buttonStyles;
    display: inline-block;
    width: auto;
  }
  .remove {
    position: absolute;
    right: 10px;
    bottom: 10px;

    button {
      background-color: #930900;
      border-radius: 4px;
      color: white;

      &:hover {
        background-color: #c70a00;
      }
    }
  }

  .edit {
    position: absolute;
    left: 10px;
    bottom: 10px;

    button {
      background-color: #333;
      border-radius: 4px;
      color: white;
      text-transform: uppercase;

      &:hover {
        background-color: #444;
      }
    }

  }
  .edit button,
  .remove button {
    color: white;
    text-align: center;
  }

}
.image-edit-overlay {
  width: 100%;
}
.add-feature-image-container {
  background-color: #EBEBEB;
  border: 1px solid #e3e3e3;
  position: relative;
  border-radius: 4px;
}
.add-feature-image {
  color: #b3b3b3;
  background-color: #ebebeb;
  height: 32px;
  // padding: 0 50px;
  border: 0;
  text-align: center;

  &:hover {
    color: #4a4a4a;
  }

}
.image-cropper-modal {

  &:focus {
    outline: none;
  }
  .modal-body {

    .caption-container {
      margin-top: 25px;
    }
    .crop-images-button {
      margin-top: -8px;
    }
    .thumb-list {

      margin-top: 30px;
      padding-left: 0;

      li {
        display: inline-block;
        margin: 0 3px;
        position: relative;

        height: 180px;
        width: 180px;

        .cropped-thumb-container {
          height: 180px;
          width: 180px;
          background-color: #dedede;
          cursor: pointer;
          &:hover {
            background-color: #777;
          }
          .cropped-thumb {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
          }
        }
      }

    }
    .ratio-paginator span.fa {
      cursor: pointer;
      margin-top: 10px;
      margin-right: 8px;
      padding: 8px;
      &:hover {
        background-color: #d9edf7;
      }

    }
    .ratio-paginator span.user {
      color: #47a447;
    }
    .ratio-paginator span.user::before {
      content: "\f00c";

    }
    .ratio-paginator span.auto {
      color: #333;
    }
    .ratio-paginator span.auto::before {
      content: "\f1db";
    }

  }
  .modal-footer {
    .btn.btn-link {
      i {
        margin-right: 3px;
        font-size: 16px;
        color: red;
      }
    }
  }
}
