<label>
  <span class="cms-input-label">
    <span class="cms-input-label-item cms-input-title">{{ title }}</span>
    <span
        class="cms-input-label-item cms-input-error"
        ng-repeat="(message, doShow) in inputErrors()"
        ng-if="doShow">
      <i
          class="fa fa-exclamation-triangle"
          cms-tooltip-opener>
      </i>
      <cms-tooltip
          class="invalid"
          cms-tooltip-text="{{ message }}">
      </cms-tooltip>
    </span>
  </span>
  <ng-transclude class="cms-input-control"></ng-transclude>
</label>
