@import 'sass-toolkit/utils/flexbox';

@import 'colors';
@import 'mixins';
@import 'typography';

cms-input {
  display: block;

  & > label {
    @include flexbox;
    @include flex-direction(column);

    .cms-input-label {
      @include flexbox;
      @include flex-direction(row);

      margin-bottom: 0.2em;
    }

    .cms-input-label-item {
      margin-right: 0.5em;
    }

    .cms-input-title {
      @include text-bold;

      text-transform: uppercase;
      font-weight: normal;
    }

    .input-group-addon {
      outline:0;
    }

    .input-group-btn .btn {
      padding: 12px;
    }

    .cms-input-control {
      display: inline-block;

      & > input[type], textarea {
        width: 100%;
      }

      & > input[type=checkbox] {
        border: none;
        box-shadow: none;
        margin-right: 1em;
        width: 1.5em;
      }
    }
  }

  &.invalid {

    .cms-input-title {
      color: palette(error, base);
    }

    .cms-input-error {
      color: palette(error, base);
    }

    .cms-input-control {
      .form-control {
        border-color: palette(error, base);
      }
    }
  }

  span.invalid {
    background: white;
    border: 2px solid red;
    color: red;
    padding: 0.25em;
  }

  &[type=checkbox] {
    & .cms-input-control {
      @include flexbox;
    }
  }

  &[type=select] > label > span > input {
    display: none;
  }
}
