$white: rgb(255,255,255);
$lt-gray: rgb(246, 246, 246);
$md-gray: rgb(210, 210, 210);
$mdk-gray: $md-gray;
$drk-gray: rgb(155, 155, 155);
$md-blue: rgb(70, 155, 255);
$mdk-blue: rgb(42, 110, 158);
$drk-blue: rgb(75, 90, 112);
$body-color: rgb(60, 63, 74);
$body-gray: $drk-gray;
$active: #008d52;
$login-gray: #7c7c7c;
$button-blue: $md-blue;
$button-blue-dk: $mdk-blue;
$red: #b02020;
$logo-green: #006837;
$light-border: 1px solid rgb(224, 225, 226);
$most-shaded: rgb(87, 87, 87);