$active: #008d52;
$body-color: #3A3A3A;
$drk-gray: #e2e2e2;
$md-gray: rgb(175, 176, 177);
$lt-gray: rgb(235, 236, 238);
$mdk-gray: rgb(210, 210, 210);
$body-gray: #ededed;
$login-gray: #7c7c7c;
$button-blue: rgb(61, 191, 225);
$button-blue-dk: rgb(25, 166, 203);
$white: #fff;
$red: #b02020;
$logo-green: #006837;
$light-border: 1px solid rgb(224, 225, 226);
$most-shaded: rgb(87, 87, 87);
