.form-control {
  border-radius: 0;
  border-color: rgb(232, 232, 232);
    font-weight: normal;
    height:auto;
    padding:12px;
}

select.form-control {
    height:46px;
}
.control-label {
  text-transform: uppercase;
  font-weight: normal;
}
