@import 'mixins';

.form-control {
  @include button-color ('border-color', accent-grey-light);
  border-radius: 5px;
  font-weight: normal;
  height:auto;
  padding:12px;
}

select.form-control {
  height:46px;
}
.control-label {
  text-transform: uppercase;
  font-weight: normal;
}

.btn { 
  padding: 12px; 
  border-color: rgb(232, 232, 232);
}

.btn-default {
  @include button-color ('background-color', white);
  @include button-color ('border-color', accent-grey-light);
  color: $blue-grey;
}